/* Navbar Title Styling */
.top-row {
    height: 3.5rem;
    background-color: darkorange; /* Change background color to orange */
    display: flex;
    color: white;
    align-items: center; /* Center vertically */
    padding-left: 1rem;
}

    .top-row span {
        font-size: 1rem; /* Reduced font size */
        font-weight: bold;
        color: white; /* White text for better contrast */
        margin-left: 5px; /* Smaller space between the icon and the text */
    }

/* Navbar Toggler Button */
.navbar-toggler {
    appearance: none;
    cursor: pointer;
    width: 3.5rem;
    height: 2.5rem;
    color: white;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
}

    .navbar-toggler:checked {
        background-color: orange;
    }

/* Navigation Items */
.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item ::deep a {
        color: white;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

        /* Add gap between the icon and text */
        .nav-item ::deep a i {
            margin-right: 10px; /* 5px gap between icon and text */
        }

        .nav-item ::deep a.active {
            background-color: antiquewhite;
            margin-left: 5px;
        }

        .nav-item ::deep a:hover {
            background-color: antiquewhite;
            margin-left: 5px;
        }

/* Collapsible Navigation */
.nav-scrollable {
    display: none;
    color: orange;
}

.navbar-toggler:checked ~ .nav-scrollable {
    display: block;
}

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .nav-scrollable {
        /* Never collapse the sidebar for wide screens */
        display: block;
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
        color: orange
    }
}
